<%
  # puts annotations.inspect
  last_formatted_line = {}

  range_min, range_max = selected_line_range

  formatted_annotations = annotations.map do |annotation|
    is_insertion = annotation[:rev] == "-current-" || annotation[:rev] == revision
    
    ln_class = []

    if annotation[:ln].to_i.between?(range_min, range_max)
      ln_class << "code-line--selected"
    end

    text_class = []
    text_class << "code-line--ins" if is_insertion
    
    if is_insertion
      text = htmlize_highlight_trailing_whitespace(annotation[:text])
    else
      text = htmlize(annotation[:text])
    end
    
    formatted_line = {
      :rev => annotation[:rev], 
      :author => annotation[:author],  
      :date => relative_date(annotation[:date]), 
      :ln => annotation[:ln], 
      :text => text,
    }
    display = formatted_line.dup
  
    [:rev, :author, :date].each { |k| display[k] = "…" } if display[:rev]==last_formatted_line[:rev]
  
    friendly_date = annotation[:date].is_a?(Time) ? annotation[:date].to_friendly : annotation[:date]
  
    display[:rev_tooltip] = ""
    display[:text_class] = text_class.join(' ')
    display[:ln_class] = ln_class.join(' ')
    
    last_formatted_line = formatted_line
    display
  end
%>

<% unless @as_partial %><div id='content' style='margin-top:4em;'><% end %>

<!-- 
  wrapping in table to allows the code div to extend as much as it needs to horizontally
  resulting in a horizontal scrollbar on the page rather than on code__content. this is 
  nicer experience since there is only one code div when annotating.
-->
<table style="min-width:100%;">
  <tr>
    <td>

<div class="code">
  <div class="code__gutter">
    <% for display in formatted_annotations %>
      <div id="line-<%= display[:ln] %>" class="code-line">
        <% if display[:rev]=="…" %>
          <%= display[:rev] %>
        <% else %>
          <%= link_to_function display[:rev], "show_annotation('#{display[:rev]}');", :title => htmlize_attr(display[:rev_tooltip]) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="code__gutter">
    <% for display in formatted_annotations %>
      <div class="code-line"><%= display[:author] %></div>
    <% end %>
  </div>
  <div class="code__gutter">
    <% for display in formatted_annotations %>
      <div class="code-line"><%= display[:date] %></div>
    <% end %>
  </div>
  <div class="code__gutter">
    <% for display in formatted_annotations %>
      <div class="code-line <%= display[:ln_class] %>"><%= display[:ln] %></div>
    <% end %>
  </div>
  <div class="code__content">
    <% for display in formatted_annotations %>
      <div class="code-line <%= display[:text_class] %>"><%= display[:text] %></div>
    <% end %>
  </div>
</div>

    </td>
  </tr>
</table>


<% unless @as_partial %></div><!-- end div#content --><% end %>
