<%    
  file_path_right = diff_result[:right][:file_path]
  start_line_right = diff_result[:right][:ln_start]
  
  open_links = {}
  files = [:left, :right].map do |lr|
    file_path = diff_result[lr][:file_path]
    next "(none)" unless file_path
    
    side_revision = case
      when revision.blank? && lr == :right
        nil
      when revision.blank? && lr == :left
        "HEAD"
      when revision
        lr == :left ? "#{revision}^" : revision
    end
    open_links[lr] = link_to_remote(lr, :params => { :controller => "log", :action => "open_revision", :file_path => file_path, :revision => side_revision, :line => diff_result[lr][:ln_start], :git_path => git.path })
    
    file_path_right ? link_to_relative_file(git, file_path_right, start_line_right) : git.root_relative_path_for(file_path)
  end
  
  formatted_diff_results = []
  diff_result[:lines].each do |line|
    next if @diff_line_count >= Git::DEFAULT_DIFF_LIMIT
    @diff_line_count += 1

    ln_class, code_class = classes_for_line_type(line[:type])
    
    if line[:type] == :insertion
      text = htmlize_highlight_trailing_whitespace(line[:text])
    else
      text = htmlize(line[:text])
    end

    ln_right = line[:ln_right]
    ln_right = link_to_relative_file(git, diff_result[:right][:file_path], ln_right, ln_right) unless [ :deletion, :eof, :cut ].include?(line[:type])
    
    formatted_diff_results << {
      :ln_left => line[:ln_left],
      :ln_right => ln_right,
      :ln_class => ln_class,
      :text => text,
      :text_class => code_class,
    }
  end
%>

<h4><%= files.uniq * ' --&gt; ' %></h4>

<div class="code">
  <div class="code__gutter">
    <div class="code-line code-line--header"><%= open_links[:left] %></div>
    <% for diff_result in formatted_diff_results %>
      <div class="code-line <%= diff_result[:ln_class] %>"><%= diff_result[:ln_left] %></div>
    <% end %>
  </div>
  <div class="code__gutter">
    <div class="code-line code-line--header"><%= open_links[:right] %></div>
    <% for diff_result in formatted_diff_results %>
      <div class="code-line <%= diff_result[:ln_class] %>"><%= diff_result[:ln_right] %></div>
    <% end %>
  </div>
  <div class="code__content">
    <div class="code-line code-line--header"></div>
    <% for diff_result in formatted_diff_results %>
      <div class="code-line <%= diff_result[:text_class] %>"><%= diff_result[:text] %></div>
    <% end %>
  </div>
</div>
